<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Set Availability</h2>
      <%= form_for(current_user, as: :user, url: user_availability_path, method: :put, html: { class: "availability-form" }) do |f| %>
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th class="text-center" style="width: 10%;">Time</th>
              <% Date::DAYNAMES.each do |day| %>
                <th class="text-center" style="width: 10%;"><%= day %></th>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <% (0..47).each do |i| %>
              <tr>
                <th class="text-center">
                  <% hour = i / 2
                     minute = (i % 2) * 30
                     time = Time.new(2000, 1, 1, hour, minute)
                     time_format = time.strftime("%l:%M %p") %>
                  <%= time_format %>
                </th>
                <% Date::DAYNAMES.each do |day| %>
                  <td class="text-center">
                    <% checked = current_user.availability[day.downcase][i] == 'true' %>
                    <%= hidden_field_tag "user[availability][#{day.downcase}][]", 'false' %>
                    <%= check_box_tag "user[availability][#{day.downcase}][]", 'true', checked %>
                  </td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
        
        <div class="mb-3">
          <%= f.submit "Save", class: "btn btn-success" %>
          <%= link_to "Back", edit_user_registration_path, class: "btn btn-secondary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
