<div class="container">
  <div class="row justify-content-center align-items-center" style="min-height: 88vh;">
    <div class="col-md-6">
      <h2 class="text-center">Sign Up</h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field form-outline mb-4">
          <%= f.label :email, class: "form-label" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
        </div>

        <div class="field form-outline mb-4">
          <%= f.label :password, class: "form-label" %>
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
        </div>

        <div class="field form-outline mb-4">
          <%= f.label :password_confirmation, class: "form-label" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
        </div>

        <div class="field form-outline mb-4">
          <%= f.label :role, class: "form-label" %><br />
          <%= f.select :role, options_for_select([['Student', 'student'], ['Instructor', 'instructor'], ['Admin', 'admin']]), { include_blank: 'Select Role' }, { class: "form-select", required: true } %>
        </div>

        <div class="actions text-center mb-4">
          <%= f.submit "Sign up", class: "btn btn-secondary", style: "width: 50%;" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
