<div class="card mb-3">
  <div class="card-header"><h3>Student Applications</h3></div>
  <div class="card-body">
    <% if @student_applications.any? %>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">User</th>
            <th scope="col">Contact Info</th>
            <th scope="col">Course</th>
            <th scope="col">Status</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @student_applications.each do |application| %>
            <tr>
              <td><%= link_to application.user.email, profile_path(User.find_by(email: application.user.email)), class: "text-decoration-none" %></td>
              <td><%= application.contact_info %></td>
              <td><%= link_to Course.find(application.course_id).title, course_path(application.course_id), class: "text-decoration-none" %></td>
              <td><%= application.status %></td>
              <td>
                <%= link_to 'Show', student_application_path(application), class: "btn btn-primary" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p>No student applications available.</p>
    <% end %>
    <%= link_to 'New Application', new_student_application_path, class: "btn btn-success" %>
  </div>
</div>
